#MAINNET

ETH_RPC=
EVMOS_RPC=
EVMOS_COSMOS_RPC=
STARKNET_RPC=
NEAR_RPC=
AXELAR_RPC=
AXELAR_HASH=
TIMEOUT=10000

#TESTNET

EVMOS_RPC_TESTNET=
EVMOS_COSMOS_RPC_TESTNET=
STARKNET_RPC_TESTNET=
NEAR_RPC_TESTNET=
AXELAR_RPC_TESTNET=
AXELAR_HASH_TESTNET=
TIMEOUT_TESTNET=10000